.products {
	display: flex;
	flex-direction: column;
	margin: 88px 0 48px 0;
	padding: 0 16px;
	h3 {
		color: rgba(11, 33, 46, 1);
		font-size: 24px;
		line-height: 100%;
		font-weight: 700;
		letter-spacing: 0.24px;
		font-family: "Roboto", sans-serif;
	}
	&__list {
		margin: 24px 0 0 0;
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}
	&__item {
		display: flex;
		width: calc(50% - 4px);
		img {
			width: 100%;
			height: auto;
		}
	}
}

@media (min-width: 1200px) {
	.products {
		margin: 116px auto 48px auto;
		width: 1200px;
		h3 {
			font-size: 32px;
			line-height: 40px;
		}
		&__list {
			margin: 24px 0 0 0;
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
		}
		&__item {
			display: flex;
			width: calc(25% - 8px);
		}
	}
}

@media (min-width: 1560px) {
	.products {
		width: 1560px;
		padding: 0;
	}
}
